/* placeholder */

::placeholder {
  color: var(--gray);
  opacity: 1;
}

:-ms-input-placeholder {
  color: var(--gray);
}

::-ms-input-placeholder {
  color: var(--gray);
}

/* focus */

*:focus {
  outline: none;
}

/* switch  */

.switch {
  width: 48px;
  height: 29px;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: flex-start;
  border-radius: 20px;
  padding: 2px;
  cursor: pointer;
  margin: 0;
  border: none;
}

.switch[data-isOn='true'] {
  justify-content: flex-end;
  background-color: var(--gray_light);
}

.handle {
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 12px;
  padding: 5px;
  margin: 0;
}

/* sns links */

.sns-link {
  color: transparent;
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
}

.sns-link:after {
  display: block;
  content: '';
  border-bottom: solid 3px var(--blue_light);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.sns-link:hover:after {
  transform: scaleX(1);
}

/* read more */

.readme-link {
  color: var(--textLink);
  transition: all 0.5s;
  position: relative;
}

.readme-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s;
}

.readme-link:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}

.readme-link::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid var(--textLink);
  transform: scale(1.2, 1.2);
}

.readme-link:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}
