/* placeholder */

::placeholder {
  color: var(--gray);
  opacity: 1;
}

:-ms-input-placeholder {
  color: var(--gray);
}

::-ms-input-placeholder {
  color: var(--gray);
}

/* focus */

*:focus {
  outline: none;
}

/* switch  */

.switch {
  width: 54px;
  height: 34px;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: flex-start;
  border-radius: 20px;
  padding: 2px;
  cursor: pointer;
  margin: 0;
}

.switch[data-isOn="true"] {
  justify-content: flex-end;
  background-color: var(--gray_light);
}

.handle {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 15px;
  padding: 5px;
  margin: 0;
}

/* sns links */

.sns-link {
  color: transparent;
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
}

.sns-link:after {
  display: block;
  content: "";
  border-bottom: solid 3px var(--blue_light);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.sns-link:hover:after {
  transform: scaleX(1);
}
